{% extends 'base.html' %}
{% block content %}
<form method="get" action="{% url 'recommend:index' %}">
    <div class="input-group mb-3">
        <input id="alco" name="alco" placeholder="주류명을 입력하세요" type="text" value="{{ request.GET.alco }}" class="form-control" style = "width:100px">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">추천</button>
        </div>
    </div>
</form>  
<br>
{% if result %}        
    전체 주류내에서 추천 
    <ul>
    {% for item in result.general %}
        <div>{{ item }}</div>
        {% if forloop.counter|divisibleby:6 and not forloop.last %}
        <hr style="border-top: 1px dashed black; margin: 10px 0;"> <!-- 수정된 부분: 6번째 정보마다 선 추가 -->
        {% endif %}
    {% endfor %}
    </ul>
    
    <br>
    <hr style="border-top: 1px solid black; margin: 10px 0;">
    같은 주류내에서 추천 
    <ul>
    {% for item in result.alc_cate %}
        <div>{{ item }}</div>
        {% if forloop.counter|divisibleby:8 and not forloop.last %}
        <hr style="border-top: 1px dashed black; margin: 10px 0;"> <!-- 수정된 부분: 8번째 정보마다 선 추가 -->
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
<div>검색어를 입력하세요.</div> <!-- 검색어를 입력하지 않았을 때 메시지 표시 -->

{% endif %}

{% endblock %} 
