{% extends 'base.html' %}
{% block content %}
<form method="get" action="{% url 'recommend:search' %}">
    <div class="input-group mb-3">
        <input value="{{city}}" id="city" name="city" placeholder="Search by City" type="text" class="form-control"style = "width:100px">
        <div class="input-group-append">
          <button class="btn btn-success" type="submit">검색</button>
        </div>
      </div>
    <div>
</form>
<div>
    <p>선택한 지역 <a class = "text-info">{{ city }}</a></p>
    <p>날씨 <a class = "text-info">{{ weather }}</a></p>
</div>
{% for rec in recc %}
    {% for r in rec %}
    <div>{{r}}</div>
    {% if forloop.counter|divisibleby:7 and not forloop.last %}
    <hr style="border-top: 1px solid black; margin: 10px 0;"> <!-- 수정된 부분: 7번째 정보마다 선 추가 -->
    {% endif %}
    {% endfor %}
{% endfor %}

{% endblock %}
