<!--Comment Line-->
<div style = "font-size: small">
    {% if post.comment_set.count > 0 %}
        {% for comment in post.comment_set.all %}
            <div style = 'padding: 20px 10px 20px 10px;'>
                {% if comment.user == post.user %} <strong style = 'color:#eb5d56'>[작성자]</strong>{% endif %} <strong>{{comment.user.username}}</strong>
                {% if comment.modify_date %}
                    <div style = "color:#c3c4c4">{{comment.modify_date}}(수정됨)</div>
                {% else %}
                    <div style = "color:#c3c4c4">{{comment.create_date}}</div>
                {% endif %}
                <div style = 'padding-left : 30px; padding-right : 30px;'> 
                    {{comment.content}} 
                    {% if request.user == comment.user %}
                    <div class = 'd-flex justify-content-end'>
                        <a href = "{% url 'community:comment_modify' comment.id %}" class="btn btn-outline-secondary" role="button" style = "margin: 0px 2px">수정</a>
                        <a href="#" data-uri = "{% url 'community:comment_delete' comment.id %}" class="delete_comment btn btn-outline-danger" role="button" style = "margin: 0px 2px">삭제</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>