{% load static %}

<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "UTF-8">
        <meta http-equiv="X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="300">
        <Title>Refrigerator State</Title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap.min.css' %}">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">
        {% block style %}{% endblock style %}
    </head>
    <body>
        <!--블럭 내에만 뭐가 들어갈지 신경쓰면 된다-->
        <div class = "container my-3" >
            {% if user.is_authenticated %}
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-between mb-3" style="width: 50rem;">
                    <form class="d-flex">
                        <a href="{% url 'account:logout' %}" class="fw-medium btn me-2" type="button">로그아웃</a>
                    </form>
                    <a class="mx-2 btn" href="{% url 'frige:frige_list'%}">메인으로 가기</a>
                </div>
            </div>
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
        
        {% block script %}{% endblock script %}
    </body>
</html>